<app-nav></app-nav>
<div class="bg-dark text-center text-white">
    <app-header></app-header>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#c2185b" fill-opacity="1" d="M0,224L120,213.3C240,203,480,181,720,181.3C960,181,1200,203,1320,213.3L1440,224L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
    <div class="col-12 col-lg-11 bg-dark shadow-sm mx-auto p-3 mb-3 rounded-top">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Sobre mí">
                <div class="mat-elevation-z4">
                    <app-about></app-about>
                    <app-education-list></app-education-list>
                    <app-hard-skill-list></app-hard-skill-list>
                    <app-soft-skill-list></app-soft-skill-list>
                    <app-language-list></app-language-list>
                </div>
            </mat-tab>
            
            <mat-tab label="Proyectos">
                <div class="mat-elevation-z4">
                    <app-project-list></app-project-list>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#c2185b" fill-opacity="1" d="M0,64L120,74.7C240,85,480,107,720,106.7C960,107,1200,85,1320,74.7L1440,64L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
    
</div>


