<app-nav></app-nav>
<div class="bg-dark text-center text-white">
    <app-header></app-header>
    <div class="col-12 col-lg-11 bg-dark shadow-sm mx-auto p-3 my-3 rounded-top">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Sobre mí">
                <div class="mat-elevation-z4">
                    <app-about></app-about>
                    <app-education-list></app-education-list>
                    <app-hard-skill-list></app-hard-skill-list>
                    <app-soft-skill-list></app-soft-skill-list>
                </div>
            </mat-tab>
            
            <mat-tab label="Proyectos">
                <div class="mat-elevation-z4">
                    <app-project-list></app-project-list>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

