<mat-card class="education-list col-12 mx-auto mb-3">
    <mat-card-header>
        <mat-card-title class="d-flex align-items-center">
            <mat-icon>school</mat-icon>
            <span class="px-2">Educación</span> 
        </mat-card-title>
        <button mat-icon-button class="position-absolute top-0 end-0">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content class="pb-4 pt-2 text-start" *ngFor="let education of educationList">
        <app-education [education]="education"></app-education>
    </mat-card-content>
</mat-card>
