<mat-card class="about col-12 mx-auto mb-3">
    <mat-card-header>
        <mat-card-title>Acerca de </mat-card-title>
        <button mat-icon-button class="position-absolute top-0 end-0">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content class="pb-4 pt-2 text-start">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum earum ex ullam possimus molestias nobis ipsa
            veniam nisi vitae velit consequuntur voluptatem commodi, quasi saepe sit aliquam minima, aspernatur error!
        </p>
    </mat-card-content>
</mat-card>