<mat-card class="mb-2" *ngIf="project">
    <mat-card-header class="pb-1">
        <mat-card-actions class="w-100 d-flex justify-content-end">
            <button mat-icon-button (click)="openEditDialog()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>remove</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card-header>

    <mat-card-content class="pb-4 d-flex flex-column flex-md-row align-items-center">
        <div class="project-picture img-thumbnail">
            <img mat-card-image [src]="project.thumbnail" alt="Proyecto" width="100%">
        </div>
        
        <div class="project-description px-4 py-2">
            <mat-card-title class="fs-4 py-3">{{ project.title }}</mat-card-title>
            <p>{{ project.description }}</p>
            <a [href]="project.projectUrl" mat-flat-button color="primary">
                <mat-icon>visibility</mat-icon>
                Ver
            </a>
        </div>
    </mat-card-content>

</mat-card>