<mat-card class="mb-2">
    <mat-card-actions class="w-100 d-flex justify-content-end">
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>remove</mat-icon>
        </button>
    </mat-card-actions>

    <mat-card-header class="pt-0">
        <mat-card-title class="fs-6">Idioma nombre</mat-card-title>
    </mat-card-header>

    <mat-card-content class="pb-4 col-8 col-lg-10">
        <p>Nivel: 
            <span>B2</span>
        </p>
        <mat-progress-bar value="50"></mat-progress-bar>
    </mat-card-content>

</mat-card>