<mat-card class="mb-2">
    <mat-card-actions class="w-100 d-flex justify-content-end">
        <button mat-icon-button (click)="openEditDialog()" *ngIf="isLogged">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDeleteDialog()" *ngIf="isLogged">
            <mat-icon>remove</mat-icon>
        </button>
    </mat-card-actions>

    <mat-card-header class="pt-0">
        <mat-card-title class="fs-6">{{ language.name }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="pb-4 col-8 col-lg-10">
        <p>Nivel: 
            <span>{{ language.level }}</span>
        </p>
        <mat-progress-bar [value]="getLevelValue()"></mat-progress-bar>
    </mat-card-content>

</mat-card>