<mat-card class="col-12 mx-auto mb-3">
    <mat-card-header>
        <mat-card-title class="d-flex align-items-center">
            <mat-icon>work</mat-icon>
            <span class="px-2">Experiencia</span>
        </mat-card-title>
        <button mat-icon-button class="position-absolute top-0 end-0">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content class="pb-4 pt-2 text-start">
        <app-experience></app-experience>
        <app-experience></app-experience>
    </mat-card-content>
</mat-card>
