<mat-card class="mb-2">
    <mat-card-header>
        <mat-card-title class="fs-6 d-flex align-items-center">
            <mat-icon color="primary">check</mat-icon>
            <span  class="p-3"> Nombre habilidad </span>
        </mat-card-title>
    </mat-card-header>

    <mat-card-actions class="position-absolute top-0 end-0">
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>remove</mat-icon>
        </button>
    </mat-card-actions>

</mat-card>