<h1 mat-dialog-title>Agregar proyecto</h1>
<form [formGroup]="projectForm" (submit)="submitProject()">
    <mat-dialog-content class="mat-typography row">

        <mat-form-field appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput [formControl]="title" type="text">
        </mat-form-field>
        <mat-error *ngIf="title?.errors?.['required'] && title?.touched">
            <small>Debe ingresar un título</small>
        </mat-error>
        <mat-error *ngIf="title?.errors?.['maxlength']">
            <small>El título es demasiado largo</small>
        </mat-error>

        <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <input matInput [formControl]="description" type="text"/>
        </mat-form-field>
        <mat-error *ngIf="description?.errors?.['maxlength']">
            <small>La descripción es demasiada larga</small>
        </mat-error>

        <mat-form-field appearance="fill">
            <mat-label>URL Imagen</mat-label>
            <input matInput [formControl]="thumbnail" type="text"/>
        </mat-form-field>
        <mat-error *ngIf="thumbnail?.errors?.['maxlength']">
            <small>La URL de la imagen es demasiada larga</small>
        </mat-error>

        <mat-form-field appearance="fill">
            <mat-label>URL Proyecto</mat-label>
            <input matInput [formControl]="projectUrl" type="text"/>
        </mat-form-field>
        <mat-error *ngIf="projectUrl?.errors?.['maxlength']">
            <small>La URL del proyecto es demasiada larga</small>
        </mat-error>

    </mat-dialog-content>
    <mat-dialog-actions align="end" *ngIf="!loading">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid">Agregar</button>
    </mat-dialog-actions>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</form>
