<h1 mat-dialog-title>Agregar habilidad técnica</h1>
<form [formGroup]="addHardSkillForm" (submit)="submit()">

    <mat-dialog-content class="mat-typography row">

        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput [formControl]="name" type="text">
        </mat-form-field>
        <mat-error *ngIf="name?.errors?.['required'] && name?.touched">
            <small>Debe ingresar un nombre</small>
        </mat-error>
        <mat-error *ngIf="name?.errors?.['maxlength']">
            <small>El nombre es demasiado largo</small>
        </mat-error>

        <mat-form-field appearance="fill">
            <mat-label>Nivel</mat-label>
            <input matInput [formControl]="level" type="number">
        </mat-form-field>
        <mat-error *ngIf="level?.errors?.['required'] && level?.touched">
            <small>Debe ingresar un nivel</small>
        </mat-error>
        <mat-error *ngIf="level?.errors?.['min'] || level?.errors?.['max']">
            <small>El nivel debe estar entre 0 y 100</small>
        </mat-error>

    </mat-dialog-content>
    
    <mat-dialog-actions align="end" *ngIf="!loading">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="addHardSkillForm.invalid">Agregar</button>
    </mat-dialog-actions>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</form>
