<mat-card class="education mb-2">
    <mat-card-actions class="w-100 d-flex justify-content-end">
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>remove</mat-icon>
        </button>
    </mat-card-actions>

    <mat-card-header class="pt-0">
        <div mat-card-avatar>
            <img [src]="education?.thumbnail" alt="ungs" width="100%" class="rounded-2 img-thumbnail">
        </div>
        <mat-card-title class="fs-6">education?.institution</mat-card-title>
        <mat-card-subtitle class="text-start">
            <p>education?.title</p>
            <span>education?.startDate</span>
            <span> - </span>
            <span>education?.endDate</span>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="pb-4 col-12 col-sm-11">
        <p>education?.description</p>
    </mat-card-content>

</mat-card>