<mat-toolbar class="navbar navbar-dark bg-gray-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light">
            <span class="name">
                {{ owner?.name }}
            </span>
            <span class="name">
                {{ owner?.lastName }}
            </span>
        </a>
        <div class="d-flex">
            <button mat-flat-button color="primary" type="submit" (click)="goToLogin()">
                <mat-icon>person</mat-icon> Login
            </button>
        </div>
    </div>
</mat-toolbar>