.login-container
{
    height: 100vh;
}
input:-webkit-autofill { 
    -webkit-background-clip: text;
    -webkit-text-fill-color: white !important;
}

.form-container
{
    left:50%; top:10%; transform: translate(-50%, 0);
    z-index: 2;
}