<h1 mat-dialog-title>Agregar educación</h1>
<form [formGroup]="educationAddForm" (submit)="submit()">
    <mat-dialog-content class="mat-typography row">

        <mat-form-field appearance="fill">
            <mat-label>Institución</mat-label>
            <input matInput [formControl]="institution" type="text">
        </mat-form-field>
        <mat-error *ngIf="institution?.errors?.['required'] && institution?.touched">
            <small>Debe ingresar una institución</small>
        </mat-error>
        <mat-error *ngIf="institution?.errors?.['maxlength']">
            <small>El nombre de la instituciíon es demasiado largo</small>
        </mat-error>

        <mat-form-field appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput [formControl]="title" type="text">
        </mat-form-field>
        <mat-error *ngIf="title?.errors?.['required'] && title?.touched">
            <small>Debe ingresar un título</small>
        </mat-error>
        <mat-error *ngIf="title?.errors?.['maxlength']">
            <small>El título es demasiado largo</small>
        </mat-error>

        <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput [formControl]="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <mat-error *ngIf="description?.errors?.['maxlength']">
            <small>La descripción es demasiada larga</small>
        </mat-error>

        <mat-form-field appearance="fill">
            <mat-label>URL Imagen</mat-label>
            <input matInput [formControl]="thumbnail" type="text">
        </mat-form-field>
        <mat-error *ngIf="thumbnail?.errors?.['maxlength']">
            <small>La URL de la imagen es demasiada larga</small>
        </mat-error>

        <mat-form-field appearance="fill">
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="dStart" [formControl]="startDate">
            <mat-hint>MM/yyyy</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dStart"></mat-datepicker-toggle>
            <mat-datepicker #dStart
                            startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, dStart, startDate)"
                            panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha de finalización</mat-label>
            <input matInput [matDatepicker]="dEnd" [formControl]="endDate">
            <mat-hint>MM/yyyy</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dEnd"></mat-datepicker-toggle>
            <mat-datepicker #dEnd
                            startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, dEnd, endDate)"
                            panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
        <mat-error *ngIf="educationAddForm.hasError('startDateBeforeEndDate')">La fecha de inicio no puede ser mayor a la fecha de fin</mat-error>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button color="primary" type="submit" 
        [disabled]="educationAddForm.invalid">Agregar</button>
    </mat-dialog-actions>
</form>
