<mat-card class="skill mb-2">
    <mat-card-header>
        <mat-card-title class="fs-6">{{ hardSkill?.name }}</mat-card-title>
    </mat-card-header>

    <mat-card-actions class="position-absolute top-0 end-0">
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>remove</mat-icon>
        </button>
    </mat-card-actions>

    <mat-card-content class="col-8 col-lg-10 pb-4">
        <mat-progress-bar mode="determinate" [value]="hardSkill?.level"></mat-progress-bar>
    </mat-card-content>

</mat-card>