<mat-card class="col-12 mx-auto mb-3">
    <mat-card-header>
        <mat-card-title class="d-flex align-items-center">
            <mat-icon>psychology</mat-icon>
            <span class="px-2">Habilidades Blandas</span>
        </mat-card-title>
        <button mat-icon-button class="position-absolute top-0 end-0" (click)="openAddDialog()" *ngIf="isLogged">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content class="pb-4 pt-2 text-start" *ngFor="let skill of softSkillList">
        <app-soft-skill [softSkill]="skill" (softSkillChanged)="loadSkills()"></app-soft-skill>
    </mat-card-content>
</mat-card>
